.container {
    width: 80%;
}

.me-configuration {
    display: flex;
    align-items: end;
    padding-left: 0;
    padding-right: 0;
}

.me-buttons-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 30%;
    margin-bottom: .5rem;
    text-align: left;
    height: 100%
}

.me-filter, .me-select {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: .5rem;
    text-align: left;
}

.me-filter {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.me-filter-label {
    color: var(--form-text);
    margin-bottom: 5px; /*margin-right: 10px;*/
    width: 95%;
}

.me-select-label {
    color: var(--form-text);
    margin-bottom: 5px; /*margin-right: 10px;*/
    width: 95%;
}

.me-filter-text {
    padding: 10px;
    width: 100%;
    border: 1px solid var(--input-border);
    border-radius: 6px;
    background-color: var(--input-background);
    color: var(--input-text);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.me-select-options {
    padding: 10px;
    width: 100%;
    margin-left: 0;
    border: 1px solid var(--input-border);
    border-radius: 6px;
    background-color: var(--input-background);
    color: var(--input-text);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.me-filter-text:focus, .me-select-option:focus {
    border-color: var(--input-focus-border);
    background-color: var(--input-focus-background);
    color: var(--input-focus-text);
    outline: none;
    box-shadow: 0 0 5px var(--input-focus-border);
}

.me-table-container {
    border-radius: 6px; /* Bordes redondeados para el contenedor de la tabla */
    overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
    border: 1px solid var(--table-border); /* Borde del contenedor */
    background-color: var(--table-background); /* Fondo del contenedor */
}

.me-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: var(--table-background);
}


    .me-table thead th {
        background-color: var(--table-header-background);
        color: var(--table-header-text);
        text-transform: uppercase;
        height: 5rem;
    }

    .me-table th,
    .me-table td {
        padding: 6px;
        text-align: left;
        border-bottom: 1px solid var(--table-border);
        vertical-align: middle; /* Asegura que el contenido esté centrado verticalmente */
    }

        .me-table th .truncate,
        .me-table td .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            max-width: 100%;
        }


    .me-table tbody tr.table-row-even {
        background-color: var(--table-row-even-background);
    }

    .me-table tbody tr.table-row-odd {
        background-color: var(--table-row-odd-background);
    }

    .me-table tbody tr:hover {
        background-color: var(--table-row-hover-background);
        cursor: pointer;
    }

.text-message {
    text-align: center;
    padding: 20px;
    color: var(--form-text);
}

.me-table thead th:first-child,
.me-table tbody td:first-child {
    display: none;
}

/* Estilo para centrar los enlaces dentro de la columna de acciones */
.me-table .date-of-birth,
.me-table .actions {
    text-align: center; /* Centrar horizontalmente el contenido dentro de la celda */
    vertical-align: middle; /* Centrar verticalmente el contenido dentro de la celda */
}

    .me-table .actions a {
        display: inline-block; /* Asegura que los enlaces se comporten como elementos en línea */
        margin: 0 auto; /* Centrar los enlaces horizontalmente */
    }

/* Estilos para los enlaces */
.me-table a {
    background-color: var(--link-background);
    border: 1px solid var(--link-border);
    color: var(--link-text);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

    .me-table a:hover {
        background-color: var(--link-hover-background);
        border-color: var(--link-hover-border);
        color: var(--link-hover-text);
    }

    .me-table a:active {
        background-color: var(--link-active-background);
        border-color: var(--link-active-border);
        color: var(--link-active-text);
    }

.me-table i {
    margin-right: 5px;
}
