.my-table-container {
    border-radius: 6px;
    overflow-x: auto; 
    overflow-y: hidden;
    border: 1px solid var(--table-border);
    background-color: var(--table-background);
    -webkit-overflow-scrolling: touch;
}

    .my-table-container ::deep table {
        width: 100%;
    }

.ptbl-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: var(--table-background);
    color: var(--table-cell-text);
}

    .ptbl-table ::deep .actions {
        text-align: center;
        vertical-align: middle;
    }

        .ptbl-table ::deep .actions a {
            display: inline-block; 
            margin: 0 auto; 
        }

            .ptbl-table ::deep .actions a i {
                background-color: var(--link-background) !important;
                border: 1px solid var(--link-border) !important;
                color: var(--link-text) !important;
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 4px;
                text-decoration: none;
                transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
            }

    .ptbl-table ::deep tbody tr.table-row-even {
        background-color: var(--table-row-even-background);
    }

    .ptbl-table ::deep tr.table-row-odd {
        background-color: var(--table-row-odd-background);
    }

    .ptbl-table ::deep tbody tr:hover {
        background-color: var(--table-row-hover-background);
        cursor: pointer;
    }

    .ptbl-table ::deep thead th {
        background-color: var(--table-header-background);
        color: var(--table-header-text);
        text-transform: uppercase;
        /*height: 1rem;*/
    }

    .ptbl-table ::deep th,
    .ptbl-table ::deep td {
        padding: 0.2rem;
        text-align: left;
        font-size: var(--font-size-base);
        border-bottom: 1px solid var(--table-border);
        vertical-align: middle;
    }

    .ptbl-table ::deep .number-type {
        text-align: right;
    }

    .ptbl-table ::deep .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-width: 100%;
    }
