/* Estilos para la barra de título */
.titlebar {
    background-color: var(--form-background); /* Fondo de la barra de título */
    border-bottom: 2px solid var(--form-border); /* Borde inferior */
    border-radius: 8px; /* Bordes redondeados */
    color: #9c27b0; /* Color del texto */
    padding: 15px 20px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
    margin-bottom: auto; /* Margen inferior para separar del contenido */
    text-align: center; /* Alinear el texto al centro */
}

    .titlebar h1 {
        margin: 0; /* Quitar margen del encabezado */
        font-size: 2rem; /* Tamaño de la fuente del título */
        font-family: 'Arial', sans-serif; /* Fuente del título */
        font-weight: bold; /* Peso de la fuente */
        color: #9c27b0; /* Color del texto del título */
    }

@media (max-width: 1281px) {

    .titlebar h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {

    .titlebar h1 {
        font-size: 1rem;
    }
}