<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Fragment>
    <Variable Name="NET_RUNTIME_VERSION" Type="version" Value="0.0.0.0" />
    <util:RegistrySearch
      Id="Net9Runtime"
      Root="HKLM"
      Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedfx"
      Value="Version"
      Variable="NET_RUNTIME_VERSION" />
  </Fragment>

</Wix>
