<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package
		Name="MedRec - Sistema Clínico"
		Manufacturer="Dante Software Solutions"
		Version="1.0.5.0"
		UpgradeCode="6896C279-F346-F609-EFB4-2D1B5D55D76F"
		ProductCode="*">

		<Icon Id="MedRecProductIcon" SourceFile="C:\medrec\publish\MedRec.ico" />
		
		<Property Id="ARPPRODUCTICON" Value="MedRecProductIcon" />
		<MajorUpgrade DowngradeErrorMessage="No se puede instalar una versión anterior sobre una más reciente." />
		
		<Feature Id="Main">
			<ComponentGroupRef Id="MedRecFiles" />
			<ComponentGroupRef Id="DesktopShortcut" />
			<ComponentGroupRef Id="StartMenuShortcuts" />
		</Feature>
	</Package>
</Wix>
